**/node_modules/**
**/dist/**
**/coverage/**
**/build/**
**/.git/**
**/public/**
**/.docz/**
!.eslintrc.js
**/dist/**
deprecated/
**/scripts/*
**/eslint.config.mjs/**
node_modules
coverage
e2e/docker
android
ios
.eslintrc.js