/* CSS chung cho App.js */
// reset CSS
@import 'normalize.css';
//font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

:root {
    --header-height: 60px;
    --footer-height: 120px;
    --margin-horizontal: 100px;
    /*=============== COLORS ===============*/
    // main color:
    --hue-color: 250;

    // hsl color mode:
    --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-light: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 95%);
    --text-color: hsl(var(--hue-color), 8%, 75%);
    --input-color: hsl(var(--hue-color), 29%, 16%);
    --body-color: hsl(var(--hue-color), 28%, 12%);
    --body-color-darker: hsl(var(--hue-color), 28%, 6%);
    --container-color: hsl(var(--hue-color), 29%, 16%);

    /*=============== FONT AND TYPOGRAPHY ===============*/
    //1 rem = 16px;
    --body-font: 'Montserrat', sans-serif;
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    /*=============== FONT WEIGHT ===============*/
    --font-medium: 500;
    --font-semi-bold: 600;
    --font-bold: 700;

    /*=============== Z INDEX ===============*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/*=============== RESPONSIVE ===============*/

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.btnLink {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    border: none;
    text-align: center;
    text-decoration: none;
    transition-duration: 0.4s;
    cursor: pointer;
    background-color: var(--first-color);
    color: var(--title-color);
    padding: 12px 8px;
    border-radius: 5px;

    div {
        margin: 0;
        span {
            margin-right: 8px;
        }
    }
}
.btnLink:hover {
    background-color: var(--first-color-alt);
}

/*=============== REUSABLE CSS ===============*/
.section {
    margin-bottom: 48px;
    padding: 2rem 0 4rem;
}
.section:last-child {
    margin-bottom: 0px;
}

.section__title {
    font-size: var(--big-font-size);
    color: var(--title-color);
}

.section__subtitle {
    display: block;
    font-size: var(--normal-font-size);
    margin-bottom: 3rem;
}

.section__title,
.section__subtitle {
    text-align: center;
}