.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner {
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

/*=============== 1.BANNER ===============*/
.banner {
    display: flex;
}

.bannerBtnWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bannerBtn {
    margin: 5px 0px;
}
.bannerContent {
    margin-top: 50px;
    display: flex;
    flex: 1;
    padding: 0 8%;
}
.bannerTextWrapper {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    width: 50%;
    div {
        h1 {
            font-size: var(--big-font-size);
            margin-bottom: 10px;
        }
        h4 {
            margin-bottom: 15px;
        }
        h4 ~ span {
            display: block;
            margin-bottom: 25px;
        }
        div {
            a:first-child {
                margin-right: 20px;
            }
        }
    }
}
.bannerTextScrollDown {
    margin-bottom: -50px;
    display: flex;
    align-items: center;
    span {
        font-size: var(--small-font-size);
        font-weight: var(--font-semi-bold);
        margin: 0 10px;
    }
    .scrollDownIcon {
        color: var(--first-color);
    }
}

.image {
    width: 300px;
    fill: var(--first-color);
}
.imageMaskImage {
    width: 170px;
}

// dùng chung
.content {
    display: flex;
    justify-content: center;
}
/*=============== 2.EDUCATION ===============*/
.education__imageWrapper {
    width: 45%;
    img {
        width: 70%;
        border-radius: 5px;
    }
}
.education__textWrapper {
    span {
        font-size: var(--normal-font-size);
    }
    h3 {
        margin: 5px 0px;
    }
    h4 {
        margin-bottom: 15px;
    }
    div {
        margin-top: 20px;
        div {
            display: flex;
            align-items: center;
            h3 {
                margin-left: 5px;
            }
        }
    }
}
/*=============== 3.SKILLS ===============*/
.skillWrapper {
    width: 100%;
    margin: 20px 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.skillItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    img {
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
    }
    span {
        display: block;
        font-weight: var(--font-medium);
    }
}
/*=============== 4.PROJECTS ===============*/
.projectWrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project__item {
    width: 80%;
    position: relative;
    padding: 0 30px;
    margin-bottom: 30px;
    .project__itemTimeline {
        position: relative;
        margin-bottom: 20px;
    }
    h4 ~ div {
        display: flex;
    }
}

// timeline dọc cho từng project
.project__item::before {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 2px;
    transform: translateX(-50%);
    border-radius: 5px;
    background-color: white;
}
.project__item::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-50%);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
}

// list ảnh của project
.project__itemLeftWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    img {
        width: 250px;
        margin-bottom: 10px;
    }
}
// thông tin của project
.project__itemRightWrapper {
    width: 50%;
    h1 {
        margin-bottom: 20px;
    }
    h4 {
        font-weight: var(--font-medium);
        margin-bottom: 10px;
    }
    .project__itemRightTextGroup {
        margin-bottom: 10px;
    }
    .project__itemTextIcon {
        color: white;
        margin-right: 5px;
    }
    ul {
        margin-bottom: 10px;
        list-style: circle;
        list-style-position: inside;
        li {
            margin-top: 20px;
            margin-left: 10px;
        }
    }
    .bold {
        font-weight: var(--font-semi-bold);
    }
    .project__itemBtnWrapper {
        margin-top: 50px;
        a:first-child {
            margin-right: 20px;
        }
    }
}

.stickyContent {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: calc(var(--header-height) + 10px);
}

/*=============== 5.CONTACTME ===============*/
.contact__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 3rem;
    .contact__itemIcon {
        margin-bottom: 10px;
        color: var(--first-color);
    }
    .contact__itemTextTitle {
        color: var(--title-color);
        font-size: var(--h3-font-size);
        margin-bottom: 15px;
    }
}
