.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inner {
    width: 80%;
    align-items: center;
    justify-content: space-between;
}

/*=============== 1.BANNER ===============*/
.banner {
    display: flex;
}

.bannerBtnWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.bannerBtn {
    margin: 5px 0px;
}
.bannerContent {
    margin-top: 50px;
    display: flex;
    flex: 1;
    padding: 0 8%;
}
.bannerTextWrapper {
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    width: 50%;
    div {
        h1 {
            font-size: var(--big-font-size);
            margin-bottom: 10px;
        }
        h4 {
            margin-bottom: 15px;
        }
        h4 ~ span {
            display: block;
            margin-bottom: 25px;
        }
    }
}
.bannerTextScrollDown {
    margin-bottom: -50px;
    display: flex;
    align-items: center;
    span {
        font-size: var(--small-font-size);
        font-weight: var(--font-semi-bold);
        margin: 0 10px;
    }
    .scrollDownIcon {
        color: var(--first-color);
    }
}

.image {
    width: 300px;
    fill: var(--first-color);
}
.imageMaskImage {
    width: 170px;
}

.content {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    // background-color: aquamarine;
}
/*=============== 2.EDUCATION ===============*/
.education__imageWrapper {
    display: flex;
    align-items: center;
    width: 45%;
    img {
        width: 70%;
        border-radius: 5px;
    }
}
.education__textWrapper {
    align-self: center;
    span {
        font-size: var(--normal-font-size);
    }
    h3 {
        margin: 5px 0px;
    }
    h4 {
        margin-bottom: 15px;
    }
    div {
        margin-top: 20px;
        div {
            display: flex;
            align-items: center;
            h3 {
                margin-left: 5px;
            }
        }
    }
}
/*=============== 3.SKILLS ===============*/
/*=============== 4.PROJECTS ===============*/
/*=============== 5.CONTACTME ===============*/
