.wrapper {
    position: fixed;
    background-color: var(--body-color);
    z-index: 1000;
    width: 100%;
    height: var(--header-height);
    align-items: center;
    display: flex;
    justify-content: center;
    transition-duration: 0.4s;
}

.active {
    background-color: var(--body-color-darker);

}
.inner {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo, a:visited {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
}
.nav {
}
.nav__link {
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    margin-left: 10px;
    margin-right: 10px;
    transition-duration: 0.4s;
}
.nav__link:hover {
    color: var(--first-color);
}
